<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GUI_QuanLyNhaHang.Properties.Settings.QuanLyBanHang_ver2ConnectionString"
            connectionString="Data Source=.;Initial Catalog=QuanLyBanHang_ver2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>